@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<body>
    <div class="login-page">
        <div class="login-container">
            <h2>Login</h2>
            <form asp-action="Login" asp-controller="Identity" method="post">
                <label for="username">UserName:</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</body>
