@{
    ViewData["Title"] = "Home Page";
}

<div class="software-explanation-div">
    <div class="software-explanation-text">
        <h1>All your accounting needs<br>in one place</h1>
        <button>Contact Us</button>
    </div>
    <img src="/images/HomeAccountingImage.png"></img>
</div>